*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

#screen-container{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 40px;
}

.cell{
    border: solid 0.25px rgb(196, 191, 191);

}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    
}

/*Style on heading*/
h1{
    text-align: center;
    margin: 10px 0px;
}

/*Arranging the buttons group*/
#buttons-group{
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

/*styling the buttons*/
.button{
    background-color: rgb(4, 29, 34);
    color: rgb(241, 238, 238);
    border-radius: 10px;
    padding: 15px ;
    border: none;
    width:100px;
    height: 80px;
    box-shadow: 6px 6px 2px 2px rgb(156, 151, 151);
    

}

/*styles on button effects*/
.button:hover{
    background-color: rgb(167, 192, 172);
    color: black;
    transition: 0.7s;
    height: 85px;
    width: 105px;
    cursor: pointer;
 
}


.button:focus{
    transition: 0.7s;
    box-shadow: 6px 6px 2px 2px rgb(34, 134, 48);
    
}

.button:active{
    background-color: rgb(82, 143, 94);
    transition: 0.7s;
}

/*styling for modal pop up*/
   .modal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 10px;
   border: 1px solid black;
   box-shadow: 10px 10px 5px #6e9175;
   border-radius: 8px;
   }

   /*Arranging texts on modal pop up*/
   p{
    margin: 4px 4px;
    padding: 2px 2px;
    text-align: center;
   }

   /*styling the close button in the modal pop up*/
   #cls-button-div{
    display: flex;
    justify-content: center;
    }
    
    #close{
    width: 50px;
    height:   40px;
    padding: 3px;
    }

    /*Styling the slider in the modal pop up*/
    #range-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    }

    #switch-label,.info{
    text-align: center;
}


/*formatting the on and off switch*/
.toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 34px;
    transition:  0.3s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #060;
}

input:checked + .slider:before{ 
    transform: translateX(26px);
}




 /* 


 

.color-div,.toggle-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}









.toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 34px;
    transition:  0.3s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #060;
}

input:checked + .slider:before{ 
    transform: translateX(26px);
}

*/
